# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Python
.venv/
__pycache__/
*.pyc

# Node and Angular
node_modules/
.angular/
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables
.env
.env.*

# Build artifacts
*.tmp
*.cache
